<div *ngIf="repo"
  class="mr-4 ml-4 mb-4 p-8 text text-white flex flex-col items-start justify-between border border-[#ffffff1a] min-h-[210px] w-[300px] rounded-lg space-y-2">
  <div class="h-5/6">
    <div class="text-lg font-bold">
      {{ limitStringSize(repo.name, 22) }}
    </div>

    <div class="font-light">
      {{ limitStringSize(repo.description, 20) }}
    </div>
    <a [href]="repo.html_url" target="_blank" class="text-blue-500 font-semibold" target="_blank">View on Github</a>
  </div>
  <div class="h-1/6">
    <div *ngIf="repo.language"
      class="border border-[#ffffff1a] bg-slate-600 rounded-full p-2 flex items-center justify-center min-w-[180px]">
      {{ repo.language }}
    </div>
  </div>
</div>