<div class="container">
  <div class="stars fixed inset-0 w-full h-full flex flex-col object-cover z-0">
    <img src="../../assets/stars.svg" alt="" />
  </div>

  <div
    class="max-sm:hidden animate-float-space upndown absolute inset-0 w-full h-full flex flex-col-reverse overflow-y-hidden"
  >
    <img src="../../assets/background-mountains.svg" alt="" />
  </div>
  <!-- <div>
    <img src="../../assets/earth.svg" alt="earth" />
  </div> -->
  <div
    class="absolute inset-0 w-full h-full flex flex-col overflow-hidden items-center justify-end"
  >
    <img
      class="translate-y-12 max-sm:translate-y-1 w-1186 max-sm:w-1080"
      style="max-width: none !important"
      src="../../assets/foreground.svg"
      alt=""
    />
    <img
      src="../../assets/octocat.svg"
      alt="Octocat"
      style="max-width: none !important"
      class="h-36 w-20 max-sm:h-96 max-sm:w-24 absolute bottom-16 max-sm:bottom-0 translate-x-4 max-sm:translate-x-2 max-sm:translate-y-2"
    />
  </div>
</div>
